.logoute_button{
    margin-left:45%;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-family: sans-serif;
    padding: 7px;
    border-radius: 16px;
    background-color: white;
    color: #5C15E4;
    border: none;
    cursor: pointer;
}

.logoute_button:hover{
    box-shadow: 0px 5px 5px 10px white;
    }

    @media only screen and (max-width: 1255px){
        .logoute_button{
            margin-left:  90%;
            padding: 5px;
                    }
    }