.TodoHeader{
    display: flex;
    width: 400px;
    height: 40px;
    margin: auto;
    
}


.TodoHeader > input{
    width: 80%;
    height: 100%;
    outline: none;
    border: none;
    border-radius: 8px;
    color: rgb(13, 171, 171);
    font-weight: bold;
    font-size: 18px;
    font-family: Comic Sans MS;
    background-color: #F5DEB3;
    padding-left: 10px;
    margin-top: 40px;
}

.TodoHeader > button{
    width: 20%;
    height: 100%;
    border: none;
    border-radius: 8px;
    background-image: linear-gradient(to right bottom, #8528e1, #791fe5, #6a15e9, #570aed, #3d00f2);
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-top: 40px;
}