*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.register_bar{
    display: block;
    width: 300px;
    padding: 12px 12px 12px 50px; 
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 6%;
    border-radius: 32px;
    border: none;
    outline: none;
    box-shadow: 5px 5px 34px 6px #E1E9FC;
}



.register_form{
    margin-left:30%;
    margin-top: 100px;
    width: 350px;
    height: 450px; 
    border-radius: 24px;
    background-color: #ffff;
    box-shadow: 25px 25px 44px 26px #5C16E4;
}
.register_form >h2{
    margin-left: 35%;
    padding-top: 10px;
    font-weight: bold;
    font-family: sans-serif;
}
.register_button{
  margin-left: 25%;
  width: 175px;
  padding: 7px;
  border-radius: 32px;
  border: none;
  outline: none;
  background-image: linear-gradient(to right bottom, #8528e1, #791fe5, #6a15e9, #570aed, #3d00f2);
  color: white;
  font-weight: bold;
  font-size: 17px;
  cursor: pointer;

}
.register_button:hover{
    box-shadow: 5px 5px 30px 6px #852DE7;
}
.backgrond_form{
   width: 50%;
   height: 100vh;
   float: right;
   background-image: linear-gradient(to right top, #5e17ec, #5d16e8, #5c16e4, #5a15e1, #5915dd);
  
   
}
.background_image_form{
    width: 50%;
    height: 100vh;
    display: inline-block;
    background-image: url(https://i.etsystatic.com/20718700/r/il/ee777d/4301741109/il_fullxfull.4301741109_qxkq.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 49%;

}
.input_contanier{
    width: 300px;
    display: flex;
   align-items: center;
   border-radius: 32px;
margin-left: 5%;
   
}
.input_image{
    width: 25px;
    height: 25px;
    background-size: contain;
    position: absolute;
    margin-left: 26px;
    margin-top: 5px;
    animation:4s linear infinite;
      
    
}
.register_bar:hover{
    box-shadow: 5px 5px 34px 6px #852DE7;

}
.input_image:hover{
    animation-name: spin;
}
@keyframes spin{ 
    100% { 
         transform:rotate(360deg); 
    } 
}

@media only screen and (max-width: 1050px){
    .background_image_form{
        display: none;
    }
    .backgrond_form{
        width: 100%;
    }
}

@media only screen and (max-width: 625px){
    .register_form{
        margin: auto;
        margin-top: 100px;
    }
}