.delete{
    float: right;
    
    margin-top: -21px;
    background-color: #5915dd;
    border: none;
    outline: none;
    color: white;
    width: 70px;
    padding: 3px;
    font-weight: bold;
    cursor: pointer;
}